@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
a {
    color: #28ABE3;
}
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
}
p {
    font-size: 13px;
    line-height: 21px;
}
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    //font-weight: 700;
}
ul, ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.white-text {
    color: #fff !important;
}
.section-title h2{
    color: #28ABE3;
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
    padding: 50px;
}
.section-title p {
    padding-bottom: 60px;
    color: #111;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}
.btn-primary {
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    border-color: #28ABE3;
    background-color: #28ABE3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #28ABE3;
    background-color: #28ABE3;
    //background-color: none !important;
}
.btn-circle {
    border-color: #28ABE3;
    background-color: #28ABE3;
    color: #fff;
}
.border {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 0 45%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*--------------------------------------------------*/
/* Start Side Nav Section
/*--------------------------------------------------*/
.menu-wrap a {
	color: #fff;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}
.menu-wrap .logo {
    font-family: Helvetica,Arial,cursive;
    font-size: 35px;
}
/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2em;
	height: 2em;
	border: 1px solid #28ABE3;
	text-indent: 2em;
	font-size: 1.5em;
	color: transparent;
}
.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}
@media (max-width : 479px) {
    .menu-button {
        width: 1.5em;
        height: 1.5em;
    }
   .menu-button::before {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
        content: '';
    }
    .menu-wrap a {
        padding: 5px !important;
    }
    .servise{
        padding: 0;
    }
}
@media (max-width : 767px) {
    .menu-button {
        width: 2em;
        height: 2em;
    }
    .menu-button::before {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
        content: '';
    }
}
.menu-button:hover {
	opacity: 0.6;
}
/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: white;
}
.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}
.close-button::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-button::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #111;
	padding: 2.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	-moz-transform: translate3d(-320px,0,0);
	-o-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -webkit-transform 0.4s;
	-o-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-o-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.menu,
.icon-list {
	height: 100%;
}
.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	-moz-transform: translate3d(0,100%,0);
	-o-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.icon-list a {
	display: block;
    padding: 0.8em 3.5em 0.8em .5em;
    padding-left: 1.5em;
	-webkit-transform: translate3d(0,500px,0);
	-moz-transform: translate3d(0,500px,0);
	-o-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}
.icon-list a.logo {
    padding-left: 2em;
    padding-right: 2.5em;
}
.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	-moz-transition: -webkit-transform 0s 0.4s;
	-o-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-o-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	-moz-transform: translate3d(0,1000px,0);
	-o-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}
.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	-moz-transform: translate3d(0,1500px,0);
	-o-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}
.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	-moz-transform: translate3d(0,2000px,0);
	-o-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}
.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	-moz-transform: translate3d(0,2500px,0);
	-o-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}
.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	-moz-transform: translate3d(0,3000px,0);
	-o-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}
.icon-list a span {
	margin-left: 10px;
	font-weight: 200;
}
/* Shown menu */
.show-menu .menu-wrap {
    position: fixed;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -webkit-transform 0.8s;
	-o-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-o-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -webkit-transform 0.8s;
	-o-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-o-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
}
/*--------------------------------------------------*/
/* Start Header Section                             */
/*--------------------------------------------------*/
.header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro-text {
    position: relative;
    padding: 15% 0 15% 0;
}
.header .intro-text h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 70px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'Oswald', sans-serif;
}
.header .intro-text p {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}
.header .intro-text .btn-primary {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 0;
}
.about-us-section-2{
    background-color: white;
}
/** Toggles & Accordion **/
.panel-group .panel {
    border-radius: 0;
}
.panel {
    border-radius: 0;
    border: none !important;
    box-shadow: none !important
}
.panel-default > .panel-heading {
	background: transparent;
    border: 1px solid #28ABE3;
    border-radius: none;
    font-weight: 400;
    width: 100%;
}
.panel-body {
	padding: 15px 10px;
    border: none !important;
    color: #111;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: transparent !important;
}
.panel-heading {
	padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-title {
	font-size: 14px;
	font-weight: 400;
    padding: 10px;
    color: #666;
}
.panel-title a {
	position: relative;
	display: block;
	padding: 6px 12px;
	background-color: #fff;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.panel-title a.collapsed {
	color: #444;
}
.panel-title a.collapsed:hover {
	color: #666;
}
.panel-title a .control-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    display: none;
}
.panel-title a.collapsed .control-icon {
    display: block;
}
.panel-title a i {
	font-size: 22px;
    padding-right: 5px;
    color: #28ABE3;
}
/* ------------------------------------------------------------- */
/* Start map
/* ------------------------------------------------------------- */
.map{
    position: relative;
}
#vmap {
    min-width: 400px; 
    height: 400px;
    margin: 30px auto;    
}
.jqvmap-label{
    position: absolute;
    display: none;
    background: #28ABE3;
    color: #fff;
    font-family: sans-serif, Verdana;
    font-size: 14px;
    padding: 3px;
    pointer-events:none;
}
.jqvmap-pin {
  pointer-events:none;
}
.jqvmap-zoomin, .jqvmap-zoomout{
    position: absolute;
    background: #28ABE3;
    padding: 3px;
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
}
.jqvmap-zoomin{
    top: 0;
    right: 0;
}
.jqvmap-zoomout{
    top: 50px;
    right: 0;
}
.jqvmap-region{
  cursor: pointer;
}
.jqvmap-ajax_response{
  width: 100%;
  height: 500px;
}
.popup-box{
    position: fixed;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    z-index: 1001;
}
.popup-box .close{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: red;
    padding: 20px;
    font-size: 20px;
    opacity: 1;
}
.popup-box h2{
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.popup-box .top{
    padding: 20px;
}
.popup-box .bottom{
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
}
.bottom_left{
    float: right;
    color: #006491;
}
#blackout{
    background: #006491;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    display: none;
}
/* ------------------------------------------------------------- */
/* Start Service Section
/* ------------------------------------------------------------- */
.services-section {
    padding-top: 100px;
    padding-bottom: 90px;
}
.service {
	padding: 40px;
	text-align: center;
    margin-bottom: 30px;
}
.services-section{
   background-color: white;
}
.service i {
	font-size:2.5em;
    width: 80px;
    height: 80px;
    padding:20px;
    margin-bottom: 10px;
    position: relative;
    color: #28ABE3;
    border: 1px solid #28ABE3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.service .border {
	margin-top: 10px;
    margin-bottom: 15px;
}
.service h4 {
    font-size: 15px;
    margin-bottom: 13px;
    color: #666;
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}
.service p {
    color: #444;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.service:hover i {
    background: #28ABE3;
    color: #fff;
}

.service:hover .border {
    margin: 0 30%;
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: #28ABE3;
}
.left, .right{
    padding-bottom: 55px;
}
/*---------------------------------------------------------------*/
/* Start Call To Action
/*---------------------------------------------------------------*/
.call-to-action {
    background: url(../images/parallax/call-to.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}
.call-to-action h1 {
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 40px;
}
.call-to-action h1 strong {
    color: #28ABE3;
    font-weight: 600;
}
.call-to-action .btn-primary {
    padding: 15px 55px;
    font-size: 14px;
    border-radius: 0;
}
.call-to-action .btn-primary:hover {
    //background: transparent;
}
/***********************************/
/* Start Contact Section
/***********************************/
.contact-section {
    background: #fff;
    padding-bottom: 50px;
}
.form-control {
    border-radius: 0;
    border: 1px solid #28ABE3;
}
.contact .form-group {
    margin-bottom: 25px;
    width: 100%;
    overflow: hidden;
    height: auto;
}
.contact .form-group input,
.contact .form-group textarea {
    padding: 20px;
}
.contact .form-group input.form-control {
    height: auto;
}
.contact .form-group textarea.form-control {
    height: 240px;
}
.contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
.contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
.contact::-moz-placeh;older {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
.contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
.contact .btn-primary {
    font-weight: 400;
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 0;
}
/*-------------------------------------------------------*/
/* Start Footer Section                                  */
/*-------------------------------------------------------*/
footer {
    //margin-top: 100px;
    padding: 25px 0;
    background: #111;
    border-top: 2px solid #28ABE3;
}
.copyright {
    text-transform: uppercase;
    text-transform: none;
    color: #999;
}
.footer-social li {
    display: inline;
    padding: 0 10px;
}
.footer-social li a {
    padding: 8px;
    color: #fff;
    background: #28ABE3;
}
.footer-social li i {
    font-size: 15px;
    width: 20px;
    height: 20px;
}
.footer-social li:hover a {
    background: #fff;
    color: #666;
}
.footer-link li {
    display: inline;
    padding-left: 10px;
    font-size: 13px;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}
.footer-social li {
    display: inline;
    padding: 0 10px;
}
.footer-social li a {
    padding: 8px;
    color: #fff;
}
.footer-social li i {
    font-size: 15px;
    width: 20px;
    height: 20px;
}
.footer-social li:hover a {
    background: #fff;
    color: #666;
}
.footer-link li {
    display: inline;
    padding-left: 10px;
    font-size: 13px;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}
/************************************************************************/
/**** Start Modal Section ****/
/************************************************************************/
.section-modal .modal-content {
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
}
.section-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.section-modal .close-modal:hover {
    opacity: .3;
}
.section-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.section-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.navbar-default .navbar-brand {
    color: #28ABE3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #28ABE3;
}
.navbar-default .navbar-toggle {
    border-color: #28ABE3;
    background-color: #28ABE3;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #28ABE3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #28ABE3;
}
.navbar-default .navbar-nav>.active>a {
    background-color: #28ABE3;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #28ABE3;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #28ABE3;
}
.menu-wrap .logo {
    color: #28ABE3;
}
.menu-button {
    background: transparent;;
}
.header .intro-text h1 span {
    color: #28ABE3;
}
.main-title strong {
    color: #28ABE3;
}
.portfolio-caption a i {
    color: #28ABE3;
}
.welcome-section:hover .border {
    border-color: #28ABE3;
}
.welcome-section:hover h4 {
    color: #28ABE3;
}
.about-text li i {
    color: #28ABE3;
}
.about-us-section-2 .carousel-indicators li,
.project-image .carousel-indicators li {
    border: 2px solid #28ABE3 !important;
}
.contact .form-control:focus {
    border-color: #28ABE3;
    box-shadow: none;
}
.footer-link{
    color: #28ABE3;
    font-style: italic;
    padding: 10px;
    float: right;
}

@media only screen 
and (max-width : 320px) {
    .header .intro-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .header .intro-text p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .header .intro-text .btn-primary {
        padding: 10px 15px;
        font-size: 13px;
    }
    .call-to-action h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .call-to-action .btn-primary {
        padding: 15px;
        font-size: 13px;
    }
    .about-text p {
        margin-top: 20px;
    }
}
@media only screen 
and (min-width : 321px) 
and (max-width : 480px) {
    .header .intro-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .header .intro-text p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .header .intro-text .btn-primary {
        padding: 10px 15px;
        font-size: 13px;
    }
    .call-to-action h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .call-to-action .btn-primary {
        padding: 15px;
        font-size: 13px;
    }
    .about-text p {
        margin-top: 20px;
    }
    .footer-link ul {
        float: left !important;
        margin-top: 30px;
    }
    .footer-social {
        margin-top: 30px;
    }
}

@media only screen 
and (min-width : 481px) 
and (max-width : 600px) {
    .header .intro-text h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 25px;
    }
    .header .intro-text p {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .header .intro-text .btn-primary {
        padding: 10px 15px;
        font-size: 13px;
    }
    .call-to-action h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .call-to-action .btn-primary {
        padding: 18px;
        font-size: 15px;
    }
    .about-text p {
        margin-top: 20px;
    }
    .footer-link ul {
        float: left !important;
        margin-top: 30px;
    }
    .footer-social {
        margin-top: 30px;
    }
    .copyright {
        text-align: center;
    }
}
@media only screen 
and (min-width : 601px) 
and (max-width : 800px) {
    .header .intro-text h1 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 25px;
    }
    .header .intro-text p {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .header .intro-text .btn-primary {
        padding: 10px 15px;
        font-size: 13px;
    }
    .call-to-action h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .call-to-action .btn-primary {
        padding: 18px;
        font-size: 15px;
    }
    .about-text p {
        margin-top: 20px;
    }
    .skill-shortcode {
        margin-bottom: 30px;
    }

    .footer-link ul {
        float: left !important;
        margin-top: 30px;
    }
    .footer-social {
        margin-top: 30px;
    }
}

@media only screen 
and (min-width : 801px) 
and (max-width : 991px) {
    .header .intro-text h1 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .header .intro-text p {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .header .intro-text .btn-primary {
        padding: 15px 20px;
        font-size: 16px;
    }
    .footer-link ul {
        float: left !important;
        margin-top: 30px;
    }
    .footer-social {
        margin-top: 30px;
    }
}





